<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${topic.title}</title>
    <link rel="stylesheet" href="/styles/detail.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
</head>
<body>
    #parse("/pages/header.vm")
    <div class="header"></div>
    <div class="main">
        <div class="title">
            <h1>${topic.title}</h1>
        </div>
        <div class="info">
            <span><i></i></span>
            <span>
                楼主：<a href="">${topic.user.username}</a>
                时间：${topic.issueTime}
            </span>
            <span class="change"><a href="/topic/change?id=${topic.id}">编辑</a></span>
            <b style="color: red">$!{fail}</b>
            $!{session.removeAttribute('fail')}
        </div>
        <div class="text">
            ${topic.content}
        </div>
    </div>

    <div class="footer"></div>
</body>
</html>