<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表提问</title>
    <link rel="stylesheet" href="/styles/issue.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/simditor/styles/simditor.css"/>
    <script type="text/javascript" src="/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/simditor/scripts/simditor.js"></script>
</head>
<body>
    #if(!$session.USER)
##        $session.setAttribute("hint", "登录后才能提问！！！");
        #set($session.fail = "登录后才能提问！！！")
        $response.sendRedirect("/pages/signin.vm")
    #end
    #parse("/pages/header.vm")
    <div class="header"></div>
    <div class="main">
        <div class="topic">
            <form action="/topic/issue" method="post">
                <div class="title">
                    <input type="text" name="title" placeholder="请输入标题">
                </div>
                <div class="content">
                    <textarea name="content" id="editor"></textarea>
                    <script type="text/javascript">
                        var editor = new Simditor({
                            textarea:$('#editor'),
                            placeholder:"请输入正文",
                            upload:{
                                url:"/file/upload",
                                fileKey:"uploadImage"
                            }
                        });
                    </script>
                </div>
                <div class="button">
                    <input type="submit" value="发表">
                </div>
            </form>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>