@charset "UTF-8";


.top {
    background-color: white;
    /*border-bottom: 1px solid RGB(195,195,195);*/
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.top .status {
    width: 96%;
    margin: auto;
    overflow: hidden;
}

.top .status>div {
    float: left;
    height: 30px;
    line-height: 30px;
}

.top .status .welcome {
    width: 40%;
}

.top .status .welcome span a {
    color: RGB(243,127,100);
}

.top .status .welcome a:hover {
    color: RGB(243,127,100);
}

.top .status .welcome a {
    margin-left: 10px;
    text-decoration: none;
    color: RGB(135,135,135);
}

.top .status .operation {
    width: 60%;
    text-align: left;
}

.top .status .operation a{
    text-decoration: none;
    margin-left: 7%;
    color: RGB(135,135,135);
}

.top .status .operation a:hover {
    color: RGB(243,127,100);
}

.top .status .operation i {
    margin-right: 5px;
    font-size: 18px;
}