@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: RGB(245,246,247);
}

.header {
    background-color: RGB(255,255,255);
    /*border-bottom: 1px solid RGB(195,195,195);*/
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

ul, li {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.header .status {
    width: 96%;
    margin: auto;
    overflow: hidden;
}

.header .status>div {
    float: left;
    height: 30px;
    line-height: 30px;
}

.header .status .welcome {
    width: 40%;
}

.header .status .welcome span a {
    color: RGB(243,127,100);
}

.header .status .welcome a:hover {
    color: RGB(243,127,100);
}

.header .status .welcome a {
    margin-left: 10px;
    text-decoration: none;
    color: RGB(135,135,135);
}

.header .status .operation {
    width: 60%;
    text-align: left;
}

.header .status .operation a{
    text-decoration: none;
    margin-left: 7%;
    color: RGB(135,135,135);
}

.header .status .operation a:hover {
    color: RGB(243,127,100);
}

.header .status .operation i {
    margin-right: 5px;
    font-size: 18px;
}


.bodyer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: white;*/
    margin-top: 10px;
    overflow: visible;
}

.bodyer .left {
    width: 10%;
    background-color: white;
    float: left;
    margin-right: 12px;
    text-align: center;
    margin-top: 5px;
    /*font-size: 16px;*/
}

.bodyer .left ul {
    text-align: center;
    overflow: hidden;
}

.bodyer .left ul li{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /*margin-bottom: 1px;*/
    float: left;
    margin-top: 2px;
}

.bodyer .left ul li:hover {
    background-color: RGB(244,68,68);
}

.bodyer .left ul #frist, #one {
    background-color: RGB(244,68,68);
    color: white;
}

.bodyer .left ul a:hover {
    color: white;
}

.bodyer .left ul a {
    color: #707070;
}

.bodyer .center {
    width: 62%;
    float: left;
    margin-right: 12px;
}

.bodyer .center .ad {
    width: 100%;
    height: 100px;
}

.bodyer .center .ad img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.6s;
}

.bodyer .center .ad img:hover {
    transform: scale(1.02);
}

.bodyer .center .diagram {
    width: 65%;
    height: 220px;
    float: left;
    margin-top: 8px;
}

.broadcastMe-item img {
    height: 220px;
    /*height: 100%;*/
}

.bodyer .center .center-right {
    width: 34%;
    height: 220px;
    float: left;
    margin-left: 1%;
    margin-top: 8px;
}

/*实现鼠标经过图片有动态效果*/
.bodyer .center .center-right img {
    width: 100%;
    height: 49%;
    float: left;
    cursor: pointer;
    transition: all 0.6s;

}

.bodyer .center .center-right img:hover {
    transform: scale(1.05);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bodyer .center .center-right #center-right-second {
    margin-top: 2%;
}

.bodyer .center .text {
    width: 100%;
    float: left;
    margin-top: 6px;
}

.bodyer .center .text .text-list {
    width: 100%;
    height: 130px;
    background-color: white;
    border-bottom: 1px solid #dedede;
}

.bodyer .center .text .text-list h2{
    color: RGB(61,61,61);
    margin-left: 30px;
    padding-top: 10px;
    font-size: 22px;
}

.bodyer .center .text .text-list h2 a {
    color: RGB(61,61,61);
}

.bodyer .center .text .text-list a:hover {
    color: RGB(244,68,68);
}

.bodyer .center .text .text-list .summary{
    color: RGB(138,138,138);
    margin-left: 30px;
    padding-top: 10px;
    font-size: 14px;
}

.bodyer .center .text .text-list .info {
    margin-top: 15px;
    margin-left: 30px;
    overflow: hidden;
    font-size: 15px;
}

.bodyer .center .text .text-list .info .info-left {
    width: 20%;
    float: left;
}

.bodyer .center .text .text-list .info .info-left a{
    color: RGB(61,61,61);
}

.bodyer .center .text .text-list .info .info-left a:hover {
    color: #428bca;
}

.bodyer .center .text .text-list .info .info-left .fa {
    margin-right: 10px;
}

.bodyer .center .text .text-list .info .time {
    width: 40%;
    float: left;
    color: RGB(138,138,138);
}

.bodyer .center .text .text-list .info .num {
    width: 20%;
    float: left;
    margin-left: 100px;
    text-align: right;
}

.bodyer .center .text .text-list .info .num .person:hover {
    color: RGB(51,153,235);
}

.bodyer .center .text .text-list .info .num span {
    /*margin-right: 10px;*/
    color: RGB(138,138,138);
}

.bodyer .center .text .text-list .info .num c {
    color: RGB(51,153,235);
}


.bodyer .right {
    width: 26%;
    /*background-color: #23B8FF;*/
    float: left;
}

.bodyer .right .ad {
    width: 100%;
}

.bodyer .right .ad .ad-top {
    width: 100%;
    height: 100px;
}

.bodyer .right .ad .ad-top img {
    width: 100%;
    height: 100px;
}

.bodyer .right .ad .ad-bottem {
    width: 100%;
    height: 220px;
    margin-top: 8px;
}

.bodyer .right .ad .ad-bottem img {
    width: 100%;
    height: 220px;
}

.bodyer .right .recommend {
    width: 100%;
    background-color: white;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.bodyer .right .recommend .recommend-top {
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-left: 16px;
    float: left;
}

.bodyer .right .recommend .recommend-top h3 {
    font-size: 17px;
    font-weight: normal;
}

.bodyer .right .recommend .recommend-top h3 .fa {
    color: RGB(207,39,48);
}

.bodyer .right .recommend .recommend-list {
    width: 90%;
    height: 50px;
    float: left;
    margin-left: 16px;
    margin-bottom: 15px;
    margin-top: 5px;
    overflow: hidden;
}

.bodyer .right .recommend .recommend-list .img-box {
    width: 25%;
    height: 100%;
    /*border-radius: 5px;*/
    float: left;
}

.bodyer .right .recommend .recommend-list .img-box img {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.bodyer .right .recommend .recommend-list .content {
    width: 65%;
    height: 80px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-top: 5px;
}

.bodyer .right .recommend .recommend-list .content:hover {
    color: RGB(244,68,68);
}